body {
    margin: 0px;
    background: #ffffff;
    font-family: "PT Serif",serif;
}

.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    color:#FFF;
    font-size:1.5em;
    border-radius:4px;
    /* border:1px solid #bbb; */
    transition: all 0.3s linear;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1em;
    font-family: "Source Sans Pro",sans-serif;
    background: #4d4d4d;
    position: fixed;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
    padding-right: 50px;
}

li {
    padding: 20px;
}

a {
    color: #fbff00;
    text-decoration: none;
}

h1 {
    font-family: "Source Sans Pro",sans-serif;
    text-align: center;
    margin-top: 67px;
}

p {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 19px;
    line-height: 1.7;
    width: 66.666%;
    margin: 0 auto;
}

img {
    display: flex;
    justify-content: right;
}