body {
    margin: 0;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1.5em;
    font-family: "Source Sans Pro",sans-serif;
    background: #4d4d4d;
    position: fixed;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
    padding-right: 50px;
}

li {
    padding: 20px;
}

a {
    color: #fbff00;
    text-decoration: none;
}

h1 {
    font-family: "Source Sans Pro",sans-serif;
    text-align: center;
    margin-top: 100px;
}

p {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 19px;
    line-height: 1.7;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.container {
    text-align: center;
}
.email {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Source Sans Pro",sans-serif;
}

