body {
    margin: 0px;
    background: #ffffff;
    font: 'arial'
}

.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    color:#FFF;
    font-size:1.5em;
    border-radius:4px;
    /* border:1px solid #bbb; */
    transition: all 0.3s linear;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1em;
    background: #4d4d4d;
    position: fixed;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
    padding-right: 50px;
}

li {
    padding: 20px;
}

a {
    color: #fbff00;
    text-decoration: none;
}

/***********************************************************************
 *  Cover
 **********************************************************************/
.container {
    /*show heigh: auto*/
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 67px;
}
/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 15px;
}

.box {
    /* background-color: rgb(211, 211, 211); */
    padding: 20px;
    margin: 20px;
}

.box > img {
    width: 100%;
}

h4 {
    color: black;
    text-align: center;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
    text-align: center;
    background: #4d4d4d
}